<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    {{ message }}
</div>
</body>
</html>
