<table class="header">
    <tr>
        <td class="headerInner">
            <a href="{{{user_portal_url '/'}}}" target="_blank">
                <!--[if mso]>
                <v:image xmlns:v="urn:schemas-microsoft-com:vml" style="position: absolute; width:100px; height:60px; top:70px; left:30px; z-index:1;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/logo-header.png" />
                <img alt="Phy Health" class="logoImg" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/body-bg.png" width="805" height=200">
                <![endif]-->
                <!--[if !mso]><!-->
                <table class="w-100">
                    <tr><td colspan="10" class="gutter-y-40"></td></tr>
                    <tr>
                        <td class="gutter-x-20"></td>
                        <td class="logo">
                            <img alt="Phy Health" class="logoImg" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/logo-header.png" width="100" height="60">
                        </td>
                        <td class="gutter-x-20"></td>
                    </tr>
                    <tr><td colspan="10" class="gutter-y-40"></td></tr>
                </table>
                <!--<![endif]-->
            </a>
        </td>
    </tr>
</table>





