<div class="description">
    Here are a few testimonials from other customers:
</div>

<table class="testimonialRow card">
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
    <tr>
        <td class="gutter-x-25"></td>
        <td class="testimonialImg">
            <img width="88" height="88" src="https://i.ibb.co/ZzFVL7r/gary.png" alt="">
        </td>
        <td class="gutter-x-20"></td>
        <td class="testimonialDesc">
            <p style="margin: 0 0 10px;"><b>Gary</b></p>
            <p style="margin: 0;">
                <q>
                    In January 2023, I began what turned out to be a life altering activity by participating in the Phy Health Program,
                    one that has had a significant positive impact on my health and changed my life within a few short weeks.
                </q>
            </p>
        </td>
        <td class="gutter-x-25"></td>
    </tr>
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
</table>
<table>
    <tr><td class="gutter-y-25"></td></tr>
</table>
<table class="testimonialRow card">
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
    <tr>
        <td class="gutter-x-25"></td>
        <td class="testimonialImg">
            <img width="88" height="88" src="https://i.ibb.co/LCVrD5Y/rich.png" alt="">
        </td>
        <td class="gutter-x-20"></td>
        <td class="testimonialDesc">
            <p style="margin: 0 0 10px;"><b>Rich</b></p>
            <p style="margin: 0;">
                <q>
                    I was having horrible back pain and sleep issues at night. A friend of mine introduced me to Phy and
                    within two weeks, I started feeling better and was off medication completely. After a few months
                    I was able to start jogging in the park and lifting weights.
                    Who would think stretching could cure what medicines and doctors couldn’t do?
                </q>
            </p>
        </td>
        <td class="gutter-x-25"></td>
    </tr>
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
</table>
<table>
    <tr><td class="gutter-y-25"></td></tr>
</table>
<table class="testimonialRow card">
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
    <tr>
        <td class="gutter-x-25"></td>
        <td class="testimonialImg">
            <img width="88" height="88" src="https://i.ibb.co/X2F0WSz/deva.png" alt="">
        </td>
        <td class="gutter-x-20"></td>
        <td class="testimonialDesc">
            <p style="margin: 0 0 10px;"><b>Deva</b></p>
            <p style="margin: 0;">
                <q>
                    Prior to Phy, it was almost impossible for me to move without pain.
                    Everyone offered rehab, spinal surgery and medication, but I wanted
                    to believe there was something else that would allow me to move again.
                    Phy completely transformed my life. Doctors said I’d never be able to participate
                    in any of the activities I loved but I followed the Phy System religiously and
                    I can honestly say I got my life back.
                </q>
            </p>
        </td>
        <td class="gutter-x-25"></td>
    </tr>
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
</table>
<table>
    <tr><td class="gutter-y-25"></td></tr>
</table>
<table class="testimonialRow card">
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
    <tr>
        <td class="gutter-x-25"></td>
        <td class="testimonialImg">
            <img width="88" height="88" src="https://i.ibb.co/2ZR5gcm/david.png" alt="">
        </td>
        <td class="gutter-x-20"></td>
        <td class="testimonialDesc">
            <p style="margin: 0 0 10px;"><b>David</b></p>
            <p style="margin: 0;">
                <q>
                    The improvements I have seen throughout the program have given me the
                    confidence to plan a vigorous hiking trip. I have also been able to incorporate some
                    jumping/hopping exercises that I could not do previously. Although I was able to walk up steps,
                    hills, etc. before the program, I have noticed a drastic improvement in how I feel doing those tasks.
                </q>
            </p>
        </td>
        <td class="gutter-x-25"></td>
    </tr>
    <tr><td colspan="10" class="gutter-y-25"></td></tr>
</table>