{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>A whole new tomorrow, for a whole new you.</h3>
        </div>
        <div class="description">
            Thank you for completing your body scan with Phy Health.
            Your scan data is now being processed and then reviewed by your coach to achieve a full kinetic chain analysis and 3D body map.
        </div>
        <div class="description">
            After processing is completed, you’ll receive an email to schedule your initial 45-minute assessment.
            The assessment happens via video call with your Phy Coach and will allow the two of you to review your results and comprehensive care plan in detail.
        </div>
        <div class="description">
            If you have questions or need additional information, please get connected at <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health</font></span></a>.
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
