
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="email-subject" content="Your Phy Health appointment for {BusinessName} is almost there" />
    <meta name="email-preview" content="Get moving on a new appointment" />
</head>
<body>
<style type="text/css">
    body {
        background-color: #ffffff;
        height: 100%;
        font-family: Open Sans, sans-serif;
    }
    .container {
        background-color: #dfe4e0;
        max-width:800px;
        min-width: 300px;
        margin: 0 auto;
    }
    .wrapper{
        color: rgb(116,128,128);
        height: 100%;
    }
    .content {
        height: fit-content;
    }
    .logo{
        padding: 10px;
    }
    .logoImg{
        width:120px;
        margin:10px 40px;
    }
    .imageBlock{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }
    .img{
        background-image: url('https://i.ibb.co/ZgQ1sDK/big-picture.jpg');
        width: 100%;
        height: 250px;
        background-position: center;
        background-size: cover;
    }
    .context{
        width: 90%;
        margin: 0 auto;
    }
    h3{
        font-size: 48px;
        font-family: Open Sans, sans-serif;
        color: rgb(116,128,128);
    }
    .description {
        font-size: 20px;
        color: rgb(77,77,77);
        margin-bottom: 30px;
    }
    .buttonGroup{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .buttonGroup > .description {
        margin-bottom: 0;
    }
    button{
        background-color: rgb(254,75,0);
        color: rgb(215,217,219);
        border: none;
        padding: 27px 28px;
        font-size: 22px;
        border-radius: 50px;
        cursor: pointer;
        width: 220px;
    }
    .with-button > a {
        text-decoration: none !important;
    }
    a{
        color: #f00;
        cursor: pointer;
        text-decoration: underline;
    }
    .media{
        width: 90%;
        margin: 0 auto;
    }
    .calendar{
        text-align: center;
        margin-bottom: 30px;
    }
    .calendar > a {
        text-decoration: none;
    }
    .calendarText{
        color: black;
        font-size: 15px;
    }
    .media{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    footer{
        background-color: rgb(116,128,128);
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        height: 118px;
    }
    .footerImg{
        display: block;
        width:120px;
        margin: 20px 50px;
        position: relative;
        float: right;
    }
    @media (max-width: 500px){
        .logoImg{
            margin: 0 auto;
            display: block;
            padding-bottom: 20px;
        }

        .buttonGroup{
            flex-direction: column;
            gap: 0;
            margin-bottom: 0;
        }
        button {
            margin: 0 auto;
        }
        h3{
            font-size: 30px;
        }
        .with-button {
            text-align: center;
        }
    }

    .block {
        background: #def0fc;
        border: 1px solid #444444;
        margin-bottom: 20px;
        text-align: left;
        padding: 10px 10px 0;
    }
</style>

<div class="container">
    <div class="wrapper">
        <div class="content">
            <header class="row">
                <div class="logo">
                    <a href="https://phy.health" target="_blank">
                        <img alt="Phy Health" class="logoImg" src="https://i.ibb.co/RzsXNWW/707014a8-d75d-00d2-2092-22e50dbf57d1.png">
                    </a>
                </div>
            </header>
            <div class="imageBlock">
                <div class="img">

                </div>
            </div>
            <div class="context">


                <div class="description">
                    <br>
                    Your appointment on {ApptDate} at {ApptTime} for {ApptDescription} is almost there. Be sure to add this to your calendar using one of the add-icons below.
                    <br><br>
                    If you have questions on what to expect, <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">reach out to Phy Health any time</font></span></a>. To cancel your appointment or book another, you can <a class="link" href="https://user-portal.phy.health/"><span><font color="#EB5829">login and make changes here</font></span></a>.
                </div>

                <div class="calendar">
                    <h4>Add To Calendar</h4>
                    <a href="https://app.onsched.com/{AddToGoogleCalendarUrl}"
                       target="_blank"
                       rel="noopener">
                        <img style="margin-right:15px;margin-top:10px;max-width: 45px;"
                             src="https://cdn.public.onsched.com/content/assets/img/googlelogo.png"
                             alt="Calendar Sync"
                             width="20%"
                             height="auto" />
                    </a>
                    <a href="https://app.onsched.com/{AddToCalendarUrl}"
                       target="_blank"
                       rel="noopener">
                        <img style="margin-right:15px;margin-top:10px;max-width: 45px;"
                             src="https://cdn.public.onsched.com/content/assets/img/outlooklogo.png"
                             alt="Calendar Sync"
                             width="20%"
                             height="auto" />
                    </a>
                    <a href="https://app.onsched.com/{AddToCalendarUrl}">
                        <img style="margin-top:10px;max-width: 45px;"
                             src="https://cdn.public.onsched.com/content/assets/img/addcalbtn.png"
                             alt="Download Calendar Event"
                             width="20%"
                             height="auto" />
                    </a>
                </div>
            </div>
            <footer>
                <a href="https://phy.health" target="_blank">
                    <img alt="Phy Health" class="footerImg" src="https://i.ibb.co/pwCBGyP/logo-footer.png">
                </a>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
