{{#> layouts/email_base }}
    {{#* inline "body"}}
        <container>
            <wrapper>
                <row>
                    <columns large="12">
                        <center data-parsed="">
                            <h1 class="text-left">The model and landmark data you requested is now available.</h1>
                        </center>
                        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
                        <p class="text-left">
                            Please review your attachments: models.csv, points.csv
                        </p>
                    </columns>
                </row>
            </wrapper>
        </container>
    {{/ inline}}
{{/ layouts/email_base}}
