{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Know self. No fear.</h3>
        </div>
        <div class="description">
            Thank you for connecting with your Phy Health Coach {{provider}}.
            Greater knowledge of your body’s needs and having a plan to address them will help you achieve peace of mind.
        </div>
        <div class="description">
            To improve future experiences, let us know what you think about our coach.
            Click <a class="link" href="{{feedbackUrl}}" target="_blank"><span><font color="#EB5829">here</font></span></a> to leave feedback.
        </div>
        <div class="description">
            If you have any questions, <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">connect with Phy Health</font></span></a> directly
            or you can jump ahead and <a class="link" href="{{url}}" target="_blank"><span><font color="#EB5829">schedule your next coaching session</font></span></a>.
        </div>
        <div class="description">
            Expect to receive your new or adjusted movement routine very soon. Thanks again.
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
