{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Thanks for your patience!</h3>
        </div>
        <div class="description">
            {{#if isAutoMovementPlanEnabled }}
                Your Baseline Report and Movement Plan are ready.
            {{else}}
                Your Baseline Report is ready.
            {{/if}}
        </div>
        <div class="description with-button">
            <button class="button">
                <a href="{{{user_portal_url '/scan/pdf-report'}}}?scan={{scan}}" target="_blank">
                    <span><font color="#ffffff">View Report</font></span>
                </a>
            </button>
        </div>
        <div class="description">
            Accessible with phone or desktop.
        </div>
        <div class="description">
            Any issues accessing your information, contact us:<br><br>
            <a class="link" href="{{{website_url '/contact'}}}" target="_blank"><span><font color="#EB5829">Contact us</font></span></a>
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
