{{#> layouts/email_base }}
    {{#* inline "body"}}
        <table class="gutter-y"><tr><td class="gutter-y-40"></td></tr></table>
        <div class="description">
            You've been added to the Phy Health Admin Portal.
            Using the credentials below, you can now add and view patients, review scan results, and access many other features.
        </div>
        <div class="description">Username: {{email}}</div>
        <div class="description">Password: {{password}}</div>
        <div class="description">
            Get started by logging in <a class="link" href="{{adminPanelUrl}}"><span><font color="#EB5829">here</font></span></a>
        </div>
    {{/ inline}}
{{/ layouts/email_base}}