{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title smaller text-center">
            <h3>Get Your Phy Scan Results</h3>
        </div>

        <div class="description text-center">
            <span class="light-text">Hi {{user.name}},</span>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            Thank you for getting a Phy Scan!
                            To receive your personalized Body Scan Report and Movement Plan, click on the link below to purchase.
                        </span>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <button class="button block-center">
                            <a href="{{{user_portal_url '/payment/invoice' }}}/{{invoice.id}}" target="_blank">
                                <span><font color="#ffffff">Purchase</font></span>
                            </a>
                        </button>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="bright-text">Curious to know a bit more about Phy? Read on!</span>
                    </td>
                </tr>
            </table>
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <b class="light-text">As we age, our posture deteriorates</b>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <img style="max-width: 100%; height: auto;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/chart-preventative.png" width="745" height="370" />
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            Phy helps you take preventative measures to avoid pain and improve your overall wellness and fitness.
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            <b>Your report will include a detailed analysis of your posture and overall musculoskeletal (MSK) health.</b>
                            It will show you which areas of your body need the most attention in order to minimize your risk of pain
                            and injury and optimize your physical health.
                        </span>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <img style="max-width: 100%; height: auto;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/report-screens.png" width="745" height="437" />
                    </td>
                </tr>
            </table>
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            <b>Then, you will receive a personalized Movement Plan designed to address the parts of your body that need the most attention.</b>
                            You will receive a set of 6 exercises to do daily for 20-30 minutes. These exercises will help reposition, stabilize,
                            and strengthen your muscles to improve your musculoskeletal (MSK) health.
                        </span>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <img style="max-width: 100%; height: auto;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/movement-plan-screen.png" width="745" height="624" />
                    </td>
                </tr>
            </table>
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            <b>Watch the video below to learn more about the Phy Movement Plan:</b>
                        </span>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <!--[if mso]>
            <table style="width: 515px; margin: 0 auto; border-collapse: collapse; border-spacing: 0;" border="0" width="515"><tr><td style="padding: 0;">
            <![endif]-->
            <table class="planItem card block-center">
                <tr><td colspan="10" class="gutter-y-15"></td></tr>
                <tr>
                    <td class="gutter-x-15"></td>
                    <td class="planVideo" colspan="2" style="background-image: url('https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/video-scan-preview.png')">
                        <a href="https://vimeo.com/867213297" target="_blank">
                            <!--[if mso]>
                            <v:image xmlns:v="urn:schemas-microsoft-com:vml" style="position: absolute; left: 215px; top: 95px; width:68px; height:68px; object-fit: cover;" src="https://i.ibb.co/j6bpG2D/play.png" />
                            <img src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/video-scan-preview.png" width="485" height="250">
                            <![endif]-->
                            <!--[if !mso]><!-->
                            <table class="planVideoInner" style="width: 100%; border-collapse: collapse;">
                                <tr>
                                    <td class="planVideoInnerInner">
                                        <span class="planVideoLink"></span>
                                    </td>
                                </tr>
                            </table>
                            <!--<![endif]-->
                        </a>
                    </td>
                    <td class="gutter-x-15"></td>
                </tr>
                <tr><td colspan="10" class="gutter-y-15"></td></tr>
            </table>
            <!--[if mso]>
            </td></tr></table>
            <![endif]-->
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            <b>To date, we have helped many people address pain, improve posture, and move better.</b>
                        </span>
                    </td>
                </tr>
            </table>
            <table class="gutter-y"><tr><td class="gutter-y-25"></td></tr></table>
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <img style="max-width: 100%; height: auto;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/testimonial-screen-1.png" width="745" height="501" />
                        <img style="max-width: 100%; height: auto;" src="https://static-phy-assets.s3.us-east-2.amazonaws.com/emails/testimonial-screen-2.png" width="745" height="518" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="description text-center">
            <table class="table-collapse w-100">
                <tr>
                    <td class="text-center">
                        <span class="light-text">
                            If you have any questions, get in touch at <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health.</font></span></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

    {{/ inline}}
{{/ layouts/email_base}}
