{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Your Phy Health verification code</h3>
        </div>
        <div class="description">Peace of mind is in reach.</div>
        <div class="description">Use this verification code to finish signing up for Phy Health and get moving on from your MSK limitations.</div>
        <div class="description">{{code}}</div>
        <div class="description">Need assistance? Reach out to <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health</font></span></a> for answers to your questions</div>
    {{/ inline}}
{{/ layouts/email_base}}
