{{#> layouts/email_base }}
    {{#* inline "body"}}
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description">Hi {{name}},</div>
        <div class="description">
            {{#if isAutoMovementPlanEnabled }}
                Your Performance Report and Movement Plan are ready.
            {{else}}
                Your Performance Report is ready!
            {{/if}}
        </div>
        <div class="description">
            Your <b>Performance Report</b> gives you a comprehensive, personalized overview of your musculoskeletal health, with a detailed analysis of your body's alignment and risk levels in different body zones. The report can help you uncover both your strengths and potential vulnerabilities in your musculoskeletal structure.
        </div>
        <div class="description">
            <div class="description with-button">
                <button class="button">
                    <a href="{{{user_portal_url '/scan/pdf-report'}}}?scan={{scan}}" target="_blank">
                        <span><font color="#ffffff">View Report</font></span>
                    </a>
                </button>
            </div>
        </div>
        <div class="description">If you have any issues accessing your information, please reach out to us at <a target="_blank" class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health</font></span></a>.</div>
    {{/ inline}}
{{/ layouts/email_base}}
