{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Hi {{user.firstName}},</h3>
        </div>
        <div class="description">
            We’re excited to share your Phy Report with you soon. Before it can be generated, you’ll need to login to your account and complete your profile by filling out your activity and pain levels, as well as verifying your phone number.
        </div>
        <div class="description">
            <div class="description with-button">
                <button class="button">
                    <a href="{{{user_portal_url '/profile'}}}" target="_blank">
                        <span><font color="#ffffff">Complete Profile</font></span>
                    </a>
                </button>
            </div>
        </div>
        <div class="description">
            You can find answers to some common questions <a href=
            "{{#ifEqual __template "Therme"}}
                https://therme.phy.health/#faq
            {{/ifEqual}}
            {{#ifNotEqual __template "Therme"}}
                https://www.phy.health/#faq
            {{/ifNotEqual}}"
        >here</a>, and if you have any other questions about the process in the meantime, you can reach out to
            <a href="mailto:hello@phy.health">hello@phy.health</a>. Thank you so much!
        </div>
        <div class="description">
            Cheers to good health, <br/>
            Your phy Care Team
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
