{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Hi {{user.firstName}},</h3>
        </div>
        <div class="description">
            Thank you for taking the time to provide us with the rest of your information. We’re excited for you to see your results and to begin working towards better health. Your Phy report will be available to you within the next 7-10 days.
        </div>
        <div class="description">
            Additionally, you can find answers to some common questions <a href=
            "{{#ifEqual __template "Therme"}}
                https://therme.phy.health/#faq
            {{/ifEqual}}
            {{#ifNotEqual __template "Therme"}}
                https://www.phy.health/#faq
            {{/ifNotEqual}}"
        >here</a>, and if you have any other questions about the process in the meantime, you can reach out to <a href="mailto:hello@phy.health">hello@phy.health</a>. Thank you again.
        </div>

        <div class="description">
            Cheers to good health, <br/>
            Your phy Care Team
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
