{{#> layouts/email_base }}
    {{#* inline "body"}}
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description">
            You've requested a DTC payment reports for {{dates}}, for {{#if companyName }} {{companyName}} company{{else}} all companies{{/if}}.
        </div>
        <div class="description">
            Please find the attached XLS file with the report data.
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
