{{#> layouts/email_base }}
    {{#* inline "body"}}
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <div class="description">Thank you for your reset request. Please use the code below to finish updating your password:</div>
        <div class="description">{{code}}</div>
        <div class="description">
            If you did not request this change, please get in touch at <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health</font></span></a>
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
