{{#> layouts/email_base }}
    {{#* inline "body"}}
        <div class="title">
            <h3>Phy Health Invoice</h3>
        </div>
        <div class="description"><em>{{date}}</em></div>
        <div class="description">
            Thanks for your purchase. You can find your invoice attached to this email.
        </div>

        <div class="description">
            If you have questions, get in touch at <a class="link" href="mailto:hello@phy.health"><span><font color="#EB5829">hello@phy.health</font></span></a>
        </div>
        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
        <hr />
        <div class="description">
            <small>
                You’re receiving this email because you made a purchase at Phy, which partners with Stripe
                to provide invoicing and payment processing.
            </small>
        </div>
    {{/ inline}}
{{/ layouts/email_base}}
