{{#> layouts/email_base }}
    {{#* inline "body"}}
        <spacer size="16"></spacer>
        <div class="description">Hi {{name}},</div>
        <div class="description">Please find attached your assessment report.</div>
        <div class="description">If you have any questions, please contact <a href="mailto:hello@phy.health">hello@phy.health</a></div>
        <div class="description">Best regards, Phy Team</div>
    {{/ inline}}
{{/ layouts/email_base}}
