{{#> layouts/email_base }}
    asdasdas da sdasd
    {{#* inline "body"}}
        <container>
            <wrapper>
                <row>
                    <columns large="12">
                        <center data-parsed="">
                            <h1 class="text-left">Title</h1>
                        </center>
                        <table class="gutter-y"><tr><td class="gutter-y-15"></td></tr></table>
                        <p class="text-left">
                            Some text
                            Link: <a href="{{adminGuildLink}}" class="text-left"><strong>verify</strong></a>.
                        </p>
                    </columns>
                </row>
            </wrapper>
        </container>
    {{/ inline}}
{{/ layouts/email_base}}
